:root{
    --background: whitesmoke;
    --line-odd: #507F8F;
    --title: #244B59;
    --shadow:#7AB0BF;
    --title-light:#5A8FA6;
    --text: #A0C7D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;

    background: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container header{
    width: 100%;
    height: auto;
    padding: 20px 15px;
    margin-bottom: 2rem;
    background: var(--line-odd);
    color: var(--background);

    box-shadow: 0 0 1em var(--shadow);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.container header h2{
    font-size: 1rem;
    line-height: 2rem;
}

.container header form{
    display: flex;
    flex-direction: column;
}

.container header form p{
    
    display: flex;
    align-items: center;
    
}

.container header form label{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: 10px;
}


.container header form input{
    height: 30px;
    width: 130px;   
    font-size: 16px;
    margin-bottom: 10px;
}

.container main{
    max-width: 992px;
    height: 100%;
}

.container main table{
    width: 100%;
    height: auto;
    border: 1px solid var(--line-odd);
    border-top: none;

    display: flex;
    flex-direction: column;
}

.container main table thead {
    color: var(--title);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;   
    /* border-top: 0.5px solid var(--line-odd); */

    display: flex;
    align-items: center;
}
.container main table tr,
.container main table td,
.container main table th {
    border-top: 0.5px solid var(--line-odd);
}


.container main table thead > tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container main table thead > tr th{
    padding: 10px;
}

.container main table tbody > tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.container main table tbody > tr:nth-child(odd) {
    background: var(--shadow);
}